# The binary file (executable)
Dauphine
Dauphine.exe

# The build folder
build/

# The windows.zip files
*.dll
LICENSES.txt

# The doxygen gh-pages folder
html/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files, just in case
*~

# Kate files
*.kate-swp

# Dauphine save files
*.dauphine